.myProductsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.myProducts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}